@page
@model APToner.Pages.StoreModel
@{
    ViewData["Title"] = "Store";
}
<div class="row">
    @foreach (var producto in Model.Productos)
    {
        <div class="col-3">
            <div class="card productCard">
                <img src="https:\/\/www.exel.com.mx\/Repositorio\/FTP\/Contenidos\/Imagenes\/Productos\/3M\/3MCACCAC016_zoom.jpg" class="card-img-top productImage" alt="Imagen de @producto.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <p class="card-text">
                        Referencia: @producto.Referencia <br>
                        Precio: @producto.Precio.ToString("C") <span style="font-size:0.5rem;">@producto.Moneda</span> <br>
                        Stock: @producto.Stock
                    </p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .productCard {

    }
</style>